.footer
  a
    span &copy; 2018 Jay Han
  .by_farbox
    a
      span Theme by 
        a(href="https://www.caicai.me") CaiCai
      span &
        a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  .by_farbox
    a(href="https://hexo.io/", target="_blank") Proudly published with Hexo&#65281;
